*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
}
header{
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	height: 50px;
	/* padding-left: 100px; */
	/* padding-right: 100px; */ 
	border-bottom: 4px solid red;

}
header img{
	float: left;
	width: 100px;
	height:50px;
	padding-left: 140px; 
}
header nav{
	float: left;
}
nav{
	height: 50px;
	color: black;
	}
#menu ul{
	list-style: none;
	position: relative;

}
#menu ul li{
	float: left;
	padding: 10px 20px;
	border-right: 1px solid gray;
}
#menu ul li a{
	text-decoration: none;
        width: 160px;
    text-align: center;
    
   color: black;

}
#menu ul li a:hover{
	color: yellow;

}
footer{
	width: 100%;
	height: 320px;
	background: #2E64FE;
	color: #ffffff;
}
footer .book2 p{
	font-size: 20px;
}
footer .book2{
	width: 550px;
	float: left;
	margin-left: 70px; 
	margin-top: 30px; 
}
footer .book3{
	width: 200px;
	float: left;
	
	word-spacing:3px;
	margin-top: 33px; 
}

footer .book4{
	width: 250px;
	float: left;
	margin-top: 33px; 
	word-spacing:3px;
	
}

footer .book5{
	width: 200px;
	float: left;
	margin-top: 33px; 
	word-spacing:3px;
	
}
footer #bootom{
	width: 100%;
	height: 20 0px;
	text-align: center;
	float: none;
	clear: both;
	color: black;
	margin-top:30px;
	word-spacing:3px; 
}
footer .book{
	width: 100%;
	height: 320px;
	background: #2E64FE;
	color: #ffffff;

}
main{
	width: 100%;
	height: 700px;
	background: white;
}
main aside{
	width: 55%;
	height:700px;
	
	float: left;
}
main section{
	width: 45%;
	height:700px;
	float: left;
}
main aside .home{
	border-bottom: 1px solid #A4A4A4;
	padding-bottom: 5px;
	width: 100%;
	height: 70px;
	color: #CA3438;
	padding-top: 15px; 
}
aside .form_left{
	padding-top: 30px; 
}
aside .home img{
	float: left;
    padding-right: 15px; 
}
aside .home h2{
	
    padding-top: 10px; 
}
aside .none_sao{
	float: right;
	padding-right: 20px; 
}




 input, select {
	font-size: 90%;
}
input {
    width: 45%;
    height: 30px;
    margin-left: 75px;
    margin-bottom: .5em;
}
input:required, input[required] {
	border: 3px solid red;
}
input:valid {
	border: 1px solid black;
}
input:invalid {
	box-shadow: none;
}
br {
    clear: both;
}
form button{
	background: #B7000F;
	width: 15%;
	height: 35px;
	color: #ffffff;
	font-size: 17px;
	float: right;
	margin-top: 14px; 
}
main p{
	color: red;
}
form textarea{
	 margin-left: 75px;
}
form  select{
	 width: 86%;
    height: 30px;
    margin-left: 75px;
    margin-bottom: .5em;
}
section .ten{
	width: 50%;
	height: 370px;
	border: 1px dashed red;
	margin-top: 30px;
	text-align: center;
    margin-left: 40px; 
}
section .ten p{
	font-size: 25px;
	color: #CA3438;
	text-align: center;
}
section .ten #borderas img{
	
	border-radius: 50%;
}
section .ten #borderas {
	text-align: center;
	padding-top: 15px;  	
}
section .ten #borderase {
	padding-top: 15px; 
	
}
section iframe{
	margin-top: 30px;
	margin-left: 35px;  
}