*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
}
header{
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	height: 60px;
	/* padding-left: 100px; */
	/* padding-right: 100px; */ 
	border-bottom: 4px solid red;

}
header img{
	float: left;
	width: 100px;
	height:50px;
	padding-left: 180px; 
}
header nav{
	float: left;
}
nav{
	height: 50px;
	color: black;
	}
#menu ul{
	list-style: none;
	position: relative;

}
#menu ul li{
	float: left;
	padding: 10px 20px;
	border-right: 1px solid gray;
}
#menu ul li a{
	text-decoration: none;
        width: 160px;
    text-align: center;
    
   color: black;

}
#menu ul li a:hover{
	color: yellow;

}

.slideshow-container {
           
            position: relative;
            margin: auto;
          }
.mySlides {
              display: none;}
.text {
            color: #E6E6E6;
            font-size: 30px;
            padding: 8px 12px;
            position: absolute;
            bottom: 35px;
            width: 100%;
            
          }
.dot {
            cursor:pointer;
            height: 13px;
            width: 13px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            
            transition: background-color 0.6s ease;
          }

 


.mySlides {display:none;}



 

footer{
	width: 100%;
	height: 320px;
	background: #2E64FE;
	color: #ffffff;
}
footer .book2 p{
	font-size: 20px;
}
footer .book2{
	width: 550px;
	float: left;
	margin-left: 70px; 
	margin-top: 30px; 
}
footer .book3{
	width: 200px;
	float: left;
	
	word-spacing:3px;
	margin-top: 33px; 
}

footer .book4{
	width: 250px;
	float: left;
	margin-top: 33px; 
	word-spacing:3px;
	
}

footer .book5{
	width: 200px;
	float: left;
	margin-top: 33px; 
	word-spacing:3px;
	
}
footer #bootom{
	width: 100%;
	height: 200px;
	text-align: center;
	float: none;
	clear: both;
	color: black;
	margin-top:30px;
	word-spacing:3px; 
}
footer .book{
	width: 100%;
	height: 320px;
	background: #2E64FE;
	color: #ffffff;

}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#caption {
  margin: auto;
  display: block;
 
 
  text-align: center;
  color: #ccc;
  padding: 10px 0;

}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

main{
   width: 100%;
   height: 470px;
   margin-top: 20px; 
 
  
}
main .test1{
	width: 60%;
	height: 450px;
	margin-left: 60px; 
	float: left;
	
}
main .test2{
	width: 20%;
	height: 450px; 
	margin-right: 80px;
	padding-right: 50px; 
	float: left;
	
}
main .test2 img{
	margin-bottom: 15px; 
}
article{
	width: 90%;
	margin-bottom: 10px;
	padding-bottom: 10px;  
	height: 290px;
	margin: 0 auto;
   border-bottom: 1px solid #A4A4A4;
  margin-top: 10px; 
	
}
article .home{
	float: left;
	width: 400px;
	height: 250px;
	overflow: hidden;

}
article .home1{
	width: 470px;
	height: 250px;
	float: left;
	margin-left: 20px; 
	
}
.home img{
	transition: 0.5s;	
}

.home:hover img{
	transition: 0.5s;	
	transform: scale(2);
}
article .home2{
	width: 300px;
	height: 250px;
	float: left;
/* margin-left: 10px; */ 
}
article  p{
	font-size: 20px;
}
article span{
	color: #2E2EFE;
}
article pre{

}
hr{
	width: 300px;
	margin-bottom: 10px; 
}
article .home2 p{
	clear: both;
	width: 160px;
	height: 30px;
	background: #FE9A2E;
	color: #ffffff;
}
article .home2 button{
	clear: both;
	width: 80px;
	height: 40px;
	background: #FE9A2E;
	color: #ffffff;
}
aside{
	margin-top: 10px; 
	
	
}